.jumbotron {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: max-content;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width:  none;
}

.jumbotron::-webkit-scrollbar {
	display: none;
}

.jumbotron .error {
	color: white;
}