movie-jumbotron {
	border-radius: 20px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: max-content;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width:  none;
}

movie-jumbotron::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 768px){
	movie-jumbotron {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 576px){
	movie-jumbotron {
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 10px;
	}
}