now-playing h3 {
	font-size: 1em;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: white;
	font-weight: 500;
}

now-playing .error {
	color: white;
}

@media screen and (max-width: 768px){
	now-playing h3 {
		margin-left: 20px;
	}

	now-playing .cards {
		width: 100vw;
		padding: 0 20px;
	}
}

@media screen and (max-width: 576px){
	now-playing h3 {
		font-size: 0.8em;
		margin-top: 0;
		margin-left: 15px;
	}

	now-playing .cards {
		padding: 0 15px;
	}
}