top-rate h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 500;
	text-transform: capitalize;
	color: white;
	font-size: 1em;
}

top-rate .error {
	color: white;
	margin: 8%;
}

@media screen and (max-width: 992px){
	top-rate .error {
		margin: 5%;
	}
}

@media screen and (max-width: 768px){
	top-rate h3 {
		margin-left: 20px;
	}

	top-rate .cards {
		width: 100vw;
		padding: 0 20px;
	}

	top-rate .error {
		margin: 20px;
	}
}

@media screen and (max-width: 576px){
	top-rate h3 {
		font-size: 0.8em;
		margin-left: 15px;
	}

	top-rate .cards {
		padding: 0 15px;
	}

	top-rate .error {
		margin: 20px 15px;
	}
}